.museum-pc {
    display: none;
}

.prof-show {
    display: none;
}

.mainpic-txt {
    font-family: 'chaloops';
    background-color: var(--grey);
    padding: 5px;
    margin-top: -24px;
}

.index-txt {
    max-width: 300px;
    margin: auto auto 60px auto;
}

.index-box >* {
    margin: 5px;
}  

.blue {
    display: block;
    background-color: var(--blue);
    padding: 10px;
}

.green {
    display: block;
    background-color: var(--green);
    padding: 10px;
}

.red {
    display: block;
    background-color: var(--red);
    padding: 10px;
}

.index-circle img{
    border-radius: 50%;
    border: 6px solid var(--red);
    max-width: 300px;
}

.visit img {
    border: 6px solid var(--green);
}



