.museum-pc,
.prof-show {
  display: none;
}

.mainpic-txt {
  background-color: var(--grey);
  padding: 5px;
  margin-top: -4px;
}

.index-box > * {
  margin: 5px;
  display: block;
  padding: 10px;
}

.index-box p {
  margin-top: 10px;
}

.index-circle img {
  border-radius: 50%;
  border: 6px solid var(--red);
  max-width: 260px;
}

.visit img {
  border-color: var(--green);
}
