@media (min-width: 600px) {
  /*General*/

  header,
  main {
    max-width: 600px;
  }

  header {
    margin: auto;
    display: grid;
    text-align: left;
  }

  header .icon {
    display: none;
  }

  header img {
    max-width: 300px;
    margin-bottom: 0px;
  }

  header .cta-big {
    max-width: 100px;
    margin: 0px 10px 50px auto;
  }

  nav,
  ul {
    display: inline-flex;
    grid-column-start: -1;
    grid-column-end: 3;
  }

  footer * {
    display: inline-flex;
  }

  /*Index*/

  .index-circle,
  .index-box {
    display: flex;
    justify-content: space-evenly;
  }

  .index-box div {
    max-width: 150px;
  }

  /*Roller Sites*/

  .menu-header-txt {
    display: none;
  }

  .roller {
    width: 600px;
    display: inline-flex;
    justify-content: space-evenly;
  }

  .roller-txt,
  .roller-pic {
    max-width: 280px;
    display: block;
  }

  .roller-pic {
    float: right;
    margin-left: 10px;
  }

  /*Pop-up*/

  .funnyfact,
  .prof-pop {
    max-width: 280px;
    display: block;
  }
}

@media (min-width: 1024px) {
  /*General*/
  header,
  main {
    max-width: 900px;
  }

  /*Index*/

  .museum-phone {
    display: none;
  }

  .museum-pc,
  .prof-show {
    height: 300px;
    display: inline-flex;
  }

  .museum-pc {
    width: 596px;
  }

  .prof-show {
    width: 300px;
  }

  .index-box div {
    max-width: 250px;
  }

  /*Roller Sites*/

  .roller-txt,
  .roller-pic {
    max-width: 450px;
  }

  .roller {
    width: 900px;
  }

  /*Pop-up*/

  .profknowall-pop,
  .funnyfact {
    max-width: 380px;
  }
}
