@media (min-width: 600px) {

    /*General*/

    header {
        margin: 20px auto 20px;
        display: grid;
        max-width: 600px;
        text-align: left;
    }

    header img {
        max-width: 300px;
    }

    header .cta-big {
        max-width: 100px;
        margin: 0px 10px 50px auto;
    }
     
    nav, ul {
        display: inline-flex;
        width: 600px;
        padding: 5px;
        grid-column-start: -1;
        grid-column-end: 3;
    }  

    label .fa-bars {
        display: none;
    }  

    main {
        max-width: 580px;
    }

    /*Index*/

    .index-txt{
        max-width: 600px;
    }
    
    .index-box {
        max-width: 600px;
        display: flex;
    } 

    .index-box >*{
        flex: 1;
        margin: 5px;
    }
    
    .index-circle >*{
        max-width: 200px;
        margin: 20px;
        display: inline-block;
    } 

    /*Roller Sites*/

    .menu-header-txt {
        display: none;
    }  

    .roller, ul >*{
        display: inline-flex;
        width: 600px;
        height: 100px;
        margin: 0px;
        padding: 0px;
        justify-content: space-evenly;
    }   

    .roller-txt, .roller-pic {
        max-width: 280px;
    } 

    .roller-txt {
        display: block;
    }  

    .roller-pic{
        display: block;
        float: right;     
    }  

    .profknowall-phone {
        display: none;
    }

    .profknowall-pc {
        display: block;
        height: 220px;
        width: 280px;
    }
    
    /*Other Sites*/

    .menu-other {
        height: 100px;
    } 

    .menu-other h2 {
        padding: 30px;
    } 

    /*Pop-up*/

    .funnyfact, .prof-pop {
        max-width: 280px;
    } 

    .funnyfact {
        display: block;
    }

    .prof-pop {
        display: block;
        float: right;
        height: 220px;
        width: 280px;
    }

    /*Forms*/

    .form-booking {
        flex-direction: row;
    }

    .form-block {
        flex: 1;
    }

    .form-booking .inline {
        text-align: left;
    }

}
  
@media (min-width: 1024px) {

    /*General*/

    header {
        display: grid;
        max-width: 800px;
    }

    nav, ul, li {
        width: 800px;
    }  

    .footer-menu {
        width: 800px;
    }  

    .footer-menu, a >*{
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
    }  


    /*Index*/

    main {
        max-width: 800px;
        margin: auto;
    }

    .main-pic {
        width: max-content;
    }

    .museum-phone {
        display: none;
    }

    .museum-pc, .prof-show {
        height: 300px;
        display: inline-flex;
    }

    .museum-pc {
        width: 500px;
    }

    .prof-show {
        width: 300px;
    }

    .mainpic-txt {
        flex: 1;
    }

    .index-txt {
        max-width: 800px;
    }

    .index-box {
        max-width: 800px;
    } 

    .index-circle >* {
        max-width: 320px;
    } 

    /*Roller Sites*/

    .roller, ul {
        width: 800px;
    } 

    .roller-txt, .roller-pic {
        max-width: 380px;
        display: block;
    } 

    /*Pop-up*/

    .profknowall-pop, .funnyfact {
        max-width: 380px;
    } 

}    