@import "imports/links.css";
@import "imports/variables.css";

@font-face {
  font-family: "PaytoneOne-Regular";
  src: url("../fonts/PaytoneOne-Regular.ttf") format("truetype");
  font-family: "PTSans-Regular";
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-family: "PTSans-Italic";
  src: url("../fonts/PTSans-Italic.ttf") format("truetype");
}

/*General*/

h1,
h2 {
  font-family: var(--text-heading), georgia, "Gill Sans", sans-serif;
}

h1 {
  font-size: 24px;
  margin: 10px auto;
}

h2 {
  font-size: 20px;
  margin: 5px;
}

a {
  color: var(--black);
}

p {
  font-family: var(--text-paragraph), Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: left;
}

.blue {
  background-color: var(--blue);
}

.orange {
  background-color: var(--orange);
}

.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}

img {
  width: 100%;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: auto;
  margin: auto;
  margin-top: 0px;
  max-width: 320px;
  text-align: center;
}

section {
  margin-top: 2rem;
}

/*Header*/

header {
  display: inline-block;
  max-width: 320px;
  margin: 20px auto;
}

header img {
  margin-bottom: 40px;
}

.fa-bars {
  float: left;
  position: relative;
  margin: auto 50px;
}

nav,
ul,
li {
  display: block;
  font-family: var(--text-heading), georgia, "Gill Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: var(--black);
  justify-content: space-evenly;
  padding: 5px;
  margin: 5px;
}

nav {
  display: none;
}

/*Footer*/

footer {
  background-color: var(--orange);
  display: block;
  font-family: var(--text-heading), georgia, "Gill Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}

.fab {
  margin: 0px 10px 20px 10px;
  font-size: 2rem;
}

/*Roller sites*/

.roller {
  display: none;
}

.menu-header-txt {
  font-family: var(--text-heading), georgia, "Gill Sans", sans-serif;
  font-size: 20px;
  float: none;
  position: static;
  margin: 0px;
  padding: 5px;
  max-width: 100%;
}

.roller-pic,
.prof {
  display: inline-block;
  max-width: 320px;
}

.profknowall {
  height: 100px;
  width: 100px;
}

/*Forms*/

section form {
  max-width: 320px;
}

form {
  display: inline-block;
  width: auto;
  margin: 10px;
  align-content: center;
  font-family: var(--text-paragraph), Arial, Helvetica, sans-serif;
  font-size: 18px;
}

form div label {
  display: inline-block;
  margin: 10px;
}

input,
textarea {
  border-style: groove;
  width: 100%;
  margin-bottom: 10px;
}

.contact-error {
  display: none;
  color: red;
}

.message-success {
  background-color: var(--orange);
  font-family: var(--text-paragraph), Arial, Helvetica, sans-serif;
  font-size: 18px;
}
