@import "imports/links.css";
@import "imports/variables.css";

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-family: "MontserratItalic";
  src: url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
}

/*General*/

h1,
h2 {
  font-family: 'chaloops', sans-serif;
  font-style: normal; 
  font-weight: 400;
  text-align: center;
} 

h1 {
  font-size: 24px;
  font-style: normal;
  padding: 2px;
}
  
h2 {
  font-size: 16px;
  font-style: normal;
}

a {
  color: var(--black);
}
  
img {
  width: 100%;
}
  
html, body {
  height: 100%;
  margin: 0px;
}

header {
  display: inline-block;
  margin: 20px;
  text-align: center;
} 

header, img {
  margin-bottom: 20px;
} 

body {
  display: flex;
  flex-direction: column;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  min-height: 100vh;
}
  
main {
   flex: 1 auto;
   max-width: 1000px;
   margin: 20px;
   text-align: center;
}

label {
  float: left;
  position: relative;
  margin-left: 50px ;
}

nav, ul, li {
  display: block;
  font-family: 'chaloops', sans-serif;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--black);
  padding: 10px;
}

nav {
  display: none;
}
  
  
#hamburger-menu{
  display: none;
}
  
#hamburger-menu:checked ~ nav {
  display: block;
  float: center;
} 

footer {
  background-color: var(--orange);
  display: block;
  font-family: 'chaloops', sans-serif;
  font-size: 1rem;
  text-align: center;
}  

.footermenu a {
  display: block;
  margin: 10px;
}  

.fab {
  margin: 0px 10px 20px 10px;
  font-size: 2rem;
}  

/*Roller sites*/

.roller {
  display: none;
}  

.rollergreen {
  background-color: var(--green);
  margin-bottom: 10px;
} 

#roller-menu{
  display: none;
}
  
#roller-menu:checked ~ .roller {
  display: block;
  float: center;
}

.menu {
  padding: 10px;
} 

.rollertxt >* {
  display: block;
}

.profknowallpc, .profknowallphone {
  height: 100px;
  width: 100px;
}

.profknowallpc {
  display: none;
}

