a {
    text-decoration: none;
  }
  
  .cta-small {
    background-color: var(--green);
    border: 2px solid var(--black);
    padding: 4px 2px;
    font-size: 10pt;
    text-align: center;
    margin-top: 20px;
  }
  
  .cta-small:hover {
    transition-duration: 1s;
    background-color: var(--orange);
    color: var(--black);
    border: 2px solid var(--black);
  }
  
  .cta-big {
    background-color: var(--orange);
    color: var(--black);
    border: 2px solid var(--black);
    padding: 5px 30px;
    font-size: 12pt;
    text-align: center;
  }
  
  .cta-big:hover {
    transition-duration: 1s;
    background-color: var(--green);
    color: var(--black);
    border: 2px solid var(--black);
  }

  .cursiv {
    font-family: "MontserratItalic";
    text-decoration: underline;
  }
  
  .active {
    text-decoration: underline;
  }