a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}
  
.cta-small {
  background-color: var(--green);
  padding: 8px 16px;
  font-size: 10pt;
  text-align: center;
  margin-top: 20px;
}
  
.cta-small:hover {
  transition-duration: 1s;
  background-color: var(--dark-green);
  color: var(--black);
}
  
.cta-big {
  background-color: var(--orange);
  color: var(--black);
  padding: 8px 32px;
  font-size: 12pt;
  text-align: center;
}
  
.cta-big:hover {
  transition-duration: 1s;
  background-color: var(--dark-orange);
  color: var(--black);
}

/*Index*/

.index-box p:hover {
  text-decoration: underline;
}  

.index-circle img:hover{
  border: 12px solid var(--red);
  max-width: 280px;
}

.index-circle .visit img:hover{
  border: 12px solid var(--green);
}


  