:root {
  --text-heading: "PaytoneOne-Regular";
  --text-paragraph: "PTSans-Regular";
  --text-link: "PTSans-Italic";
  --black: #000000;
  --grey: #e4e4e4;
  --white: #fff;
  --red: #ee374d;
  --green: #88c977;
  --dark-green: #468836;
  --blue: #63c4e0;
  --orange: #e6a441;
  --dark-orange: #c77700;
}
